<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="cef.redist.x64" version="108.4.13" targetFramework="net462" />
  <package id="cef.redist.x86" version="108.4.13" targetFramework="net462" />
  <package id="CefSharp.Common" version="108.4.130" targetFramework="net462" />
  <package id="CefSharp.Wpf" version="108.4.130" targetFramework="net462" />
  <package id="Extended.Wpf.Toolkit" version="3.7.0" targetFramework="net462" />
  <package id="System.Data.HashFunction.Core" version="2.0.0" targetFramework="net462" />
  <package id="System.Data.HashFunction.CRC" version="2.0.0" targetFramework="net462" />
  <package id="System.Data.HashFunction.Interfaces" version="2.0.0" targetFramework="net462" />
  <package id="System.Runtime.Numerics" version="4.3.0" targetFramework="net462" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net462" />
  <package id="WPFToolkit" version="3.5.50211.1" targetFramework="net462" />
</packages>